@font-face {
    font-family: MyriadPro;
    src: url(fonts/MyriadProRegular.ttf);
}
@font-face {
    font-family: ProximaNovaRegular;
    src: url(fonts/ProximaNovaRegular.ttf);
}
@font-face {
    font-family: FiraSansBoldItalic;
    src: url(fonts/FiraSansBoldItalic.ttf);
}